.box-basestats {
    display: inline-block;
    border: 1px solid #bbb;
    border-radius: 3px;
    box-shadow: inset 0px 0px 5px #bbb;
    font-size: 24px;
    padding: 25px;
    margin: 16px 5px;
}

.statsbar {
    margin: 8px 0px;
    border: 1px solid #bbb;
    border-radius: 2px;
    box-shadow: inset 0px 0px 5px #bbb;
    width: 60%;
}

.statsbar-fill {
    background-color: #ccc;
    padding: 3px 0px;
    white-space: nowrap;
}

.statsbar-fill:hover {
    background-color: #bbb;
}

.page-left {
    float: left;
    width: 30%;
}

.page-right {
    float: right;
    width: 70%;
}