<div class="titlebox">
  <div class="titlesubbox">
    <img src="assets/ap-logo.png" width="200px">
  </div>
  <div class="titlesubbox">
    <h1>Cloud APIs project</h1>
    <h2>Schooljaar 2018-2019</h2>
    <h3>&nbsp; door Seppe De Beule</h3>
  </div>
</div>

<div class="buttonbox">
  <a routerLink="/pokemon/1" routerLinkActive="active">
    <div class="button">
      Pokemon
    </div>
  </a>
  <a routerLink="/countries" routerLinkActive="active">
    <div class="button">
      REST API
    </div>
  </a>
</div>