<div class="homebutton">
  <a routerLink="/home" routerLinkActive="active">
    <button class="btn btn-primary" style="padding-left: 20px;">
      Back to homepage
    </button>
  </a>
</div>

<div class="page" *ngIf="pokedata">
  <h1>Browse all pokemon</h1>

  <p >
    A total of {{pokedata.count}} Pokemon were found.<br>
    Viewing page {{pagenum}} out of {{getPageCount()}}
  </p>

  <button class="btn btn-primary" [disabled]="!pokedata.previous" routerLink="{{getPrev()}}">Previous</button>
  <button class="btn btn-primary" [disabled]="!pokedata.next" routerLink="{{getNext()}}">Next</button>

  <table width="100%">
    <tr *ngFor="let pokemon of pokedata.results">
      <td width="40%">{{pokemon.name}}</td>
      <td>
        <button class="btn btn-primary" routerLink="/viewpokemon/{{pokemon.name}}">View details</button>
      </td>
    </tr>
  </table>
</div>